<div class="col-md-8 col-md-offset-2" id="makePicks">
    <div class="signIn">
        {{userName != '' ? 
        userName :
        'You are not currently signed in, so picks can\'t be submitted. Please go to the Auth tab to sign in'}}
    </div>
    <div class="optionSelectionContainer">
        <div *ngFor="let week of allMatchUps; let i = index"
            class="optionButton{{selectedWeekIndex == i ? ' selectedOption' : ''}}"
            (click)="selectedWeekIndex = i">
        Week {{ week.number }}
        </div>
    </div>
    <tr class="headerRow">
        <td>Away Team</td>
        <td></td>
        <td>Home Team</td>
        <td></td>
        <td class="oddsHeader">Odds</td>
        <td class="timeHeader">Time</td>
        <td class="pointHeader">2 pts</td>
        <td class="pointHeader">3 pts</td>
    </tr>
    <tr *ngFor="let matchup of allMatchUps[selectedWeekIndex].matchups; let i = index"
        class="{{i % 2 == 0 ? 'greyRow' : 'whiteRow'}}">
        <td class="away"><label for="away-{{i}}" >{{ matchup.awayTeam.name }}</label></td>
        <td>
            <input 
                    #awayElem
                    id="away-{{i}}" 
                    type="radio" 
                    value="away" 
                    name="{{i}}"
                    (change)="onSelectionChange(awayElem.value, awayElem.name, awayElem.id)">
        </td>
        <td class="home">at <label for="home-{{i}}">{{ matchup.homeTeam.name }}</label></td>
        <td>
            <input 
                    #homeElem
                    id="home-{{i}}" 
                    type="radio" 
                    value="home" 
                    name="{{i}}"
                    (change)="onSelectionChange(homeElem.value, homeElem.name, homeElem.id)">
        </td>
        <td> 
            {{ matchup.oddsForHome > 0 ? '+' : ''}}{{ matchup.oddsForHome }} 
        </td>
        <td> {{ matchup.time }} </td>
        <td class="teamWeight">
            <input 
                    #twoElem
                    type="radio" 
                    id="two-{{i}}"
                    value="{{i}}"
                    name="two-point-group"
                    (change)="onSelectionChange(twoElem.value, twoElem.name)">
        </td>
        <td class="teamWeight">
            <input 
                    #threeElem
                    type="radio" 
                    id="three-{{i}}" 
                    value="{{i}}"
                    name="three-point-group"
                    (change)="onSelectionChange(threeElem.value, threeElem.name)">
        </td>
        <td class="chooseWinnerNotice">
            Pick a winner for this game
        </td>
    </tr>
    <button id="submitPicks"
                class="btn btn-primary" 
                type="submit"
                (click)="onSubmit()"
				[disabled]="!picksAreValid"
                routerLink="/picks/compare">
            Submit
    </button>
</div>