.userName {
    font-style: italic;
    padding: 4px 0px;
    color: darkblue;
}

td {
    padding: 2px;
}

.headerRow {
    font-size: 16px;
    text-align: center;
}

.headerRow td {
    border-bottom: solid;
}

.footerRow td {
    text-align: center;
    border-top: solid;
}

.teamWeight {
    text-align: center;
}

.selected {
    background-color: lightgreen;
}

.threePoints {
    font-weight: bold;
    color: green;
}

.twoPoints {
    font-weight: bold;
    color: darkorange;
}

#picksContainer {
    margin-bottom: 20px;
}

#noPickData {
    font-size: 24px;
}

#submitPicks {
    padding-top: 10px;
}

#selectedWeek {
    background-color: #337ab7;
    color: white;
}

.week {
    cursor: pointer;
    padding: 5px;
    margin: 0px 2px;
    border-radius: 5px;
    font-size: 16px;
}

#weekSelectionContainer {
    display: flex;
    margin-bottom: 10px;
}

#noPicksAlert {
    font-style: italic;
    margin-left: 7px;
}

.greyRow {
    background-color: lightgray;
}

.chooseWinnerNotice {
    font-style: italic;
    background: white;
    position: relative
}

.winnerSelected .chooseWinnerNotice div{
    display: none;
}

.winningPick td{
    border-bottom: outset;
    border-width: 3px;
}

.winningPick .firstCol {
    border-left: outset;
}

.winningPick .lastCol {
    border-right: outset;
}