.userName {
    font-style: italic;
    padding: 4px 0px;
    color: darkblue;
}

td {
    padding: 2px;
    text-align: center;
}

.headerRow {
    font-size: 16px;
    text-align: center;
}

.headerRow td {
    border-bottom: solid;
}

.footerRow td {
    text-align: center;
    border-top: solid;
}

.selected {
    background-color: lightgreen;
    font-weight: bold;
    color: green;
    border: outset;
}

.threePoints {
    font-weight: bold;
    color: green;
}

.twoPoints {
    font-weight: bold;
    color: darkorange;
}

#picksContainer {
    margin-bottom: 20px;
}

#noPickData {
    font-size: 24px;
}

#submitPicks {
    margin-top: 10px;
}

#noPicksAlert {
    font-style: italic;
    margin-left: 7px;
}

.greyRow {
    background-color: lightgray;
}

.greyRow td {
    border: solid 3px lightgray;
}
.whiteRow td {
    border: solid 3px white;
}

.chooseWinnerNotice {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
}

.greyRow .chooseWinnerNotice {
    border-color: white;
}

.homeSelected .chooseWinnerNotice {
    display: none;
}

.awaySelected .chooseWinnerNotice {
    display: none;
}

.homeSelected .home {
    background-color: lightgreen;
    border: outset;
}

.home {
    min-width: 190px;
}

.away {
    min-width: 160px;
}

.awaySelected .away {
    background-color: lightgreen;
    border: outset;
}

#makePicks .away:hover, #makePicks .home:hover, #makePicks .teamWeight:hover {
    color: green;
    border-color: green;
}

.losingPick .selected {
    background-color: indianred;
    color: white;
}

.winningPick {
    background-color: lightgreen;
}

.firstCol {
    padding-left: 4px;
}

.lastCol {
    padding-right: 4px;
}

label {
    margin-bottom: 0px;
}

.signIn {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.pointHeader {
    min-width: 40px;
}

.oddsHeader {
    min-width: 45px;
}

.timeHeader {
    min-width: 60px
}
