<div id="bracket-container">
    <header>
        <h1>NBA 2017 Post Season Bracket</h1>
    </header>
    <div class="bracket">
        <div *ngFor="let conf of conferences"
            class="{{conf.className}} conference">
            <div *ngFor="let round of numberOfRounds(conf.teams.length)"
                class="round-{{round}} round">
                <div *ngFor="let team of timesToLoop(conf.teams, round); let i = index"
                        class="teamContent {{team.className}} {{i%2 == 0 ? 'top' : 'bottom'}} 
                        {{i == 0 ? 'firstTeamInRound' : ''}}"
                        #elem id="{{conf.name}}-round-{{round}}-team-{{i}}"
                        (click)="advanceToNextRound(conf.name, round, i, elem.id)">
                    <span class="rank" *ngIf="round == 1">{{ team.rank }}</span>
                    <img class="teamPicture" [src]="loadLogo(round, team.logo)">
                    <form *ngIf="round != 1">
                        <input type="text" class="left"><span>-</span><input class="right">
                    </form>
                </div>
            </div>
        </div>
        <div id='champion'>
            <img class="teamPicture" [src]="blankSpotImg">
            <form>
                <input type="text" class="left"><span>-</span><input class="right">
            </form>
        </div>
    </div> 
    <button id="submitBracket" (click)="submitBracket($event)"> Submit Bracket </button>
    <button id="bracketNotFullAlert" [hidden]="allTeamsPicked" disabled>Please Pick All Teams Before Submitting</button>
</div>