<div class="col-md-8 col-md-offset-2">
    <div class="optionSelectionContainer">
        <div *ngFor="let sport of allSports; let i = index"
            class="optionButton{{selectedSportIndex == i ? ' selectedOption' : ''}}"
            (click)="selectedSportIndex = i; updateSportData()">
        {{ sport.name }}
        </div>
    </div>
</div>
<div id="bracket-container" class="col-md-8 col-md-offset-2">
    <header>
        <h1>{{allSports[selectedSportIndex].name}} 2017-18 Post Season Bracket</h1>
    </header>
    <div class="compareTable">
      <h4 class="scoreTitle">Point Tally</h4>
      <table class="scoresTable">
        <tbody *ngFor="let bracket of bracketPicks; let bracketNum = index"
          class="{{bracketNum % 2 == 1 ? 'greyRow' : 'whiteRow'}}">
          <tr class="headerRow" *ngIf="bracketNum == 0">
              <td>Player Name</td>
              <td>Round / Team Picked</td>
              <td>Ws</td>
              <td>Sp, Pts, Bo</td>
              <td>Round / Team Picked</td>
              <td>Ws</td>
              <td>Sp, Pts, Bo</td>
              <td>Total</td>
          </tr>
          <tr class="totalsRow">
            <td>{{bracket['currentPick']['firstName'] + ' ' + bracket['currentPick']['lastName']}}</td>
            <td>Wild Card</td>
            <td>{{getRoundWins(2, bracket['currentPick']['picks'])}}</td>
            <td>{{getPointsFromScore(2,bracket['currentPick'], bracketNum, 'spread')}}</td>
            <td>Divisional</td>
            <td>{{getRoundWins(3, bracket['currentPick']['picks'])}}</td>
            <td>{{getPointsFromScore(3,bracket['currentPick'], bracketNum, 'spread')}}</td>
            <td>{{getTotalPoints()}}</td>
            <td></td>
            <td (click)="toggleAdditionalDetails(bracketNum)" class="buttonHover">Toggle Individual Games</td>
          </tr>
          <tr *ngFor="let game of countPicks(bracketNum); let gameNum = index"
            [hidden]="hideExtraDetails[bracketNum]"
            class="specificGameScores {{gameNum % 2 == 0 ? 'dividerLineRow' : ''}}">
            <td></td>
            <td>{{game[0]['team']['name']}}</td>
            <td>{{getRoundWins(2, bracket['currentPick']['picks'], game[0].spot, game[0].Conference)}}</td>
            <td>{{getPointsFromScore(2,bracket['currentPick'], bracketNum, 'spread', game[0])}}</td>
            <td>{{game[1]['team']['name']}}</td>
            <td>{{getRoundWins(3, bracket['currentPick']['picks'], game[1].spot, game[1].Conference)}}</td>
            <td>{{getPointsFromScore(3,bracket['currentPick'], bracketNum, 'spread', game[1])}}</td>
            <td>{{getTotalPoints()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngFor="let bracket of bracketPicks; let bracketNum = index">
      <div class="bracketName">
        {{bracket['currentPick']['firstName'] + ' ' + bracket['currentPick']['lastName'] + '\'s Bracket'}}
      </div>
      <div class="bracket">
          <div *ngFor="let conf of allSports[selectedSportIndex].playoffTeams"
              class="{{conf.className}} conference">
              <div *ngFor="let round of roundsArray"
                  class="round-{{round}} round">
                  <div *ngFor="let team of teamsInRound(conf.teams, round); let i = index"
                          class="teamContent{{team.name == 'spacerTeam' ? ' spacerTeam' : '' }} {{team.logo ? 'hasTeam' : ''}} {{i%2 == 0 ? 'top' : 'bottom'}} 
                          {{i == 0 ? 'firstTeamInRound' : ''}} {{round === 2 && team.logo ? 'byeTeam rank'+team.conferenceRank : ''}}"
                          #elem id="{{bracketNum}}-{{conf.name}}-round-{{round}}-team-{{i}}">
                      <span class="rank" *ngIf="round == 1 || (round === 2 && team.logo)">{{ team.conferenceRank }}</span>
                      <img *ngIf="team.name != 'spacerTeam'" class="teamPicture" [src]="loadLogo(round, team.logo)">
                      <div *ngIf="round != 1"
                          class="form {{allSports[selectedSportIndex].name}}">
                          <input type="text" [(ngModel)]="score['winners'][conf.name + '-' + round + '-' + i]"
                              id="{{bracketNum}}-{{conf.name}}-{{round}}-{{i}}-winner"
                              onkeypress='return false' 
                              class="left">
                          <span>-</span>
                          <input [(ngModel)]="score['losers'][conf.name + '-' + round + '-' + i]"
                              id="{{bracketNum}}-{{conf.name}}-{{round}}-{{i}}-loser"
                              onkeypress='return false' 
                              class="right">
                      </div>
                  </div>
              </div>
          </div>
          <div id='{{bracketNum}}-champion' class="champion">
              <img class="teamPicture" [src]="blankSpotImg">
              <div class="form {{allSports[selectedSportIndex].name}}">
                  <input type="text" class="left" [(ngModel)]="score['winners']['championship']"
                      id="{{bracketNum}}-championship-winner"
                      onkeypress='return false'>
                  <span>-</span>
                  <input class="right" [(ngModel)]="score['losers']['championship']"
                      id="{{bracketNum}}-championship-loser"
                      onkeypress='return false'>
              </div>
          </div>
      </div>
    </div>
</div>