<div class="col-md-8 col-md-offset-2">
    <div class="optionSelectionContainer">
        <div *ngFor="let sport of allSports; let i = index"
            class="optionButton{{selectedSportIndex == i ? ' selectedOption' : ''}}"
            (click)="selectedSportIndex = i; updateSportData()">
        {{ sport.name }}
        </div>
    </div>
</div>    
<div class="col-md-8 col-md-offset-2">
    <div class="signIn">
        {{userName != '' ? userName :
        'You are not currently signed in, so picks can\'t be submitted. Please go to the Auth tab to sign in'}}
    </div>
</div>
<div id="bracket-container"  class="col-md-8 col-md-offset-2">
    <header>
        <h1>{{allSports[selectedSportIndex].name}} 2017-18 Post Season Bracket</h1>
    </header>
    <div class="bracket">
        <div *ngFor="let conf of allSports[selectedSportIndex].playoffTeams"
            class="{{conf.className}} conference">
            <div *ngFor="let round of numberOfRounds(conf.teams.length)"
                class="round-{{round}} round">
                <div *ngFor="let team of teamsInRound(conf.teams, round); let i = index"
                        class="teamContent{{team.name == 'spacerTeam' ? ' spacerTeam' : '' }} {{team.logo ? 'hasTeam' : ''}} {{i%2 == 0 ? 'top' : 'bottom'}} 
                        {{i == 0 ? 'firstTeamInRound' : ''}} {{round === 2 && team.logo ? 'byeTeam rank'+team.conferenceRank : ''}}"
                        #elem id="{{conf.name}}-round-{{round}}-team-{{i}}">
                    <span class="rank" *ngIf="round == 1 || (round === 2 && team.logo)">{{ team.conferenceRank }}</span>
                    <img *ngIf="team.name != 'spacerTeam'" class="teamPicture" [src]="loadLogo(round, team.logo)"
                        (click)="team.name != 'spacerTeam' && advanceToNextRound(conf.name, round, i, elem.id, team.conferenceRank)">
                    <div *ngIf="round != 1"
                        class="form {{allSports[selectedSportIndex].name}}">
                        <input type="text" [(ngModel)]="score['winners'][conf.name + '-' + round + '-' + i]"  
                            maxlength="2"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
                            class="left">
                        <span>-</span>
                        <input [(ngModel)]="score['losers'][conf.name + '-' + round + '-' + i]"  
                            maxlength="2"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
                            class="right">
                    </div>
                </div>
            </div>
        </div>
        <div id='champion' class="champion">
            <img class="teamPicture" [src]="blankSpotImg">
            <div class="form {{allSports[selectedSportIndex].name}}">
                <input type="text" class="left" maxlength="2" [(ngModel)]="score['winners']['championship']"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <span>-</span>
                <input maxlength="2" class="right" [(ngModel)]="score['losers']['championship']"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
        </div>
    </div> 
    <button id="submitBracket" (click)="submitBracket($event)"> Submit Bracket </button>
    <button id="bracketNotFullAlert" [hidden]="allTeamsPicked" disabled>Please Pick All Teams Before Submitting</button>
    <!-- <button id="clearPicks" (click)="clearPicks()"> Clear Picks </button> -->
</div>